# Compiled output
dist
tmp
out-tsc
bazel-out

# Node
node_modules
npm-debug.log
yarn-error.log

# Miscellaneous
.sass-cache/
*.js.map
*.d.ts
*.map
*.tsbuildinfo

# Editor directories and files
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# System files
.DS_Store
Thumbs.db

# Logs
logs
*.log

# Environment variables
.env

# pdf
pdf
backend_assignment.pdf
